:root {
  --font-main: 'Roboto Slab', serif;
  --container-width: 1200px;
  --radius: 10px;
  --easeInOut: cubic-bezier(0.39, 0.57, 0.56, 1);

  --background: #181719;
  --foreground-primary: #27242c;
  --foreground-secondary: #3d3a41;
  --text-color-thick: #ffffff;
  --text-color-regular: #f6f6f6;
  --text-color-thin: #c2c2c2;
  --text-color-ultrathin: #bbbbbb;
  --shadow-color: #161616;
  --glass: rgba(0, 0, 0, 0.8);
  --primary: #ffffff;
  --second: #1787ff;
  --box-shadow: 0px 10px 35px 10px rgba(0, 0, 0, 0.25);

  --success: #017e34;
  --danger: #ef5350;
  --danger-light: #ef9a9a;
  --warning: #ff8801;
  --info: #0099cc;

  --animation-text: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  --animation-fade-in: fade-in 1s cubic-bezier(0.39, 0.57, 0.56, 1) both;
  --animation-scale-up: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  --animation-slide-in-right: slide-in-right 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  --animation-slide-out-right: slide-out-right 0.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

html {
  background-color: var(--background);
  font-family: var(--font-main);
  color: var(--text-color-regular);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

i {
  padding-right: 0.5rem;
}

/* CONTENT HTML */
body {
  margin: 0;
  background-image: url('../assets/images/img\ \(2\).jpg');
  background-attachment: fixed;
  background-size: cover;
}

.header__content,
.main,
.footer__content {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: var(--container-width);
}

/* Botones */
.btn {
  padding: 1rem;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
  transition: background-color 0.25s var(--easeInOut),
    color 0.25s var(--easeInOut), transform 0.25s var(--easeInOut);
}

.btn:hover {
  border: 1px solid var(--primary);
  color: rgb(0, 0, 0);
  background-color: var(--primary);
}

.btn:active {
  transform: scale(0.9);
}

/* Contenido */
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  background: var(--glass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.header__content {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header__logo img {
  width: 3rem;
}

.header__menu {
  display: flex;
  gap: 1rem;
}

.header__menu a {
  text-decoration: none;
  padding: 0.5rem;
  color: inherit;
  border: 1px solid transparent;
}

.header__menu a:hover {
  border-bottom: 1px solid #fff;
  transition: border-bottom 0.25s var(--easeInOut);
}

.hero {
  margin-top: 1rem;
  height: 500px;
  background-image: url('../assets/images/img\ \(1\).jpg');
  background-attachment: fixed;
  background-size: cover;
}

.filter__black {
  width: 100%;
  height: inherit;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero__title {
  text-align: center;
  font-size: 4rem;
  animation: var(--animation-text);
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.filter__black p a {
  text-decoration: none;
  text-decoration: underline;
  color: inherit;
}

.section {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  min-height: 100vh;
  color: var(--text-color-regular);
  background-color: var(--foreground-primary);
  animation: var(--animation-fade-in);
  transition: height 1.25s var(--easeInOut);
}

/* Formulario */
.estado__form,
.recluso__form {
  display: flex;
  padding: 1rem;
  flex-flow: column wrap;
  gap: 1rem;

  justify-content: center;
  align-items: center;
}

.estado__form select,
.recluso__form select,
.recluso__form input {
  width: 50%;
  padding: 1rem;
  font-family: inherit;
}

.card {
  margin: 1rem;
  background-color: var(--foreground-secondary);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  transition: height 1.25s var(--easeInOut);
  animation: var(--animation-scale-up);
}

.error {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  background-color: var(--danger-light);
  border-radius: var(--radius);
  font-weight: 600;
  color: #111;
  animation: var(--animation-slide-in-right);
}

.hidden {
  animation: var(--animation-slide-out-right);
}

.footer__content {
  margin-top: 2rem;
  padding: 1rem;
  min-height: 4rem;
  background-color: var(--glass);
  text-align: center;
}
/* ! Animaciones */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
    visibility: hidden;
  }
}
